<div class="home">
  <app-card
  gameCover="assets/img/capa-gta-5.webp"
  gameType="DIGITAL | PS3 - PS4 - PS5"
  gameLabel="DIGITAL"
  gamePrice="R$ 69,90"
  ></app-card>


  <app-card
  gameCover="assets/img/tlou2.webp"
  gameType="DIGITAL | PS4 - PS5"
  gameLabel="EXCLUSIVO"
  gamePrice="249,90"
  ></app-card>

  <app-card
  gameCover="assets/img/minecraft.webp"
  gameType="DIGITAL | PS3 - PS4 - PS5"
  gameLabel="DIGITAL"
  gamePrice="R$ 99,90"
  ></app-card>

  <app-card
  gameCover="assets/img/Elden-Ring.webp"
  gameType="DIGITAL | PS5"
  gameLabel="DIGITAL"
  gamePrice="R$ 199,90"
  ></app-card>

  <app-card
  gameCover="assets/img/god-rag.webp"
  gameType="DIGITAL | PS4 - PS5"
  gameLabel="EXCLUSIVO"
  gamePrice="R$ 249,90"
  ></app-card>

  <app-card
  gameCover="assets/img/detroit.webp"
  gameType="DIGITAL | PS4"
  gameLabel="EXCLUSIVO"
  gamePrice="R$ 149,90"
  >
  </app-card>


</div>