<div class="menu-bar">
  <div class="menu-bar_logo">
    <img 
    src="assets/img/playstation-store-logo.png" 
    alt=""
    width="140px"
    height="32px"
    >
  </div>
  <div class="menu-bar_item">
    <ul>
      <li>
        <a id="youtube" href="">YOUTUBE</a>
      </li>
      <li>
        <a id="linkedin" href="https://www.linkedin.com/in/bruno-moreira-da-silva-680109209/">LINKEDIN</a>
      </li>
      <li><a id="github" href="https://github.com/9Brunodox">GITHUB</a>
      </li>
    </ul>
  </div>
</div>